<header id="header">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="https://pitomnikbogatova.ru/img/logo.png" alt=""></a>
        </div>
        <div class="address">
            <svg class="icon-address">
                <use xlink:href="/img/symbol/sprite.svg#icon-address"></use>
            </svg>
            <dl>
                <dt>Основной питомник:</dt>
                <dd>
                    ФАД "Кавказ" 178-й км, <br> поворот на Первомайский                    </dd>
            </dl>
        </div>
        <div class="address">
            <svg class="icon-address">
                <use xlink:href="/img/symbol/sprite.svg#icon-address"></use>
            </svg>
            <dl>
                <dt>Торговая площадка:</dt>
                <dd>
                    ФАД "Кавказ" 168-й км, <br> Армавир, п.Заветный                    </dd>
            </dl>
        </div>
        <div class="tel">
            <svg class="icon-tel">
                <use xlink:href="/img/symbol/sprite.svg#icon-tel"></use>
            </svg>
            <dl>
                <dt>Телефон:</dt>
                <dd><a href="tel:+7928411-75-74">+7 (928) <b>411-75-74</b></a></dd>
            </dl>
        </div>
    </div>
    <nav id="nav">
        <div class="container">
            <a href="#" class="btn-menu"><i class="icon-burger"></i></a>
            <ul class="ul-reset">
                <li><a href="/">Главная </a></li>
                <li class='active'><a href="/content/about">О нас </a></li>
                <li><a href="/news">Новости </a></li>
                <li><a href="/content/pricelist">Прайс-листы</a></li>
                <li><a href="/content/catalog">Каталог</a></li>
                <li><a href="/content/contact">Контакты</a></li>
            </ul>
        </div>
    </nav>
</header>