<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Питомник «Зеленая усадьба» в Армавире - О нас</title>
    <meta name="Description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?3" type="text/css"/>
</head>
<body>
<div id="page">
    {% include 'header.html' %}
    {% block page %}
    {% endblock %}
    {% include 'footer.html' %}
</div>
<script src="https://pitomnikbogatova.ru/js/jquery-3.3.1.min.js"></script>
<script src="https://pitomnikbogatova.ru/js/slick.min.js"></script>
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="js/common.js"></script>
</body>
</html>