@keyframes a {
    to {
        transform: rotate(1turn)
    }
}

a, abbr, acronym, address, article, aside, audio, b, big, blockquote, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline
}

body, img {
    margin: 0;
    padding: 0;
    border: 0
}

body {
    line-height: 1.2;
    font-family: "Segoe UI";
    background: #fff;
    vertical-align: baseline;
    font-size: 15px
}

img {
    font-size: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle
}

.slick-slide img, article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block
}

ol, ul {
    padding-left: 16px;
    list-style: decimal
}

ul {
    list-style: disc
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

*, :after, :before {
    box-sizing: border-box
}

@font-face {
    font-family: 'Segoe UI';
    src: url(https://pitomnikbogatova.ru/fonts/SegoeUI-Light.woff2) format("woff2"), url(https://pitomnikbogatova.ru/fonts/SegoeUI-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Segoe UI';
    src: url(https://pitomnikbogatova.ru/fonts/SegoeUIBlack.woff2) format("woff2"), url(https://pitomnikbogatova.ru/fonts/SegoeUIBlack.woff) format("woff");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Segoe UI Semilight';
    src: url(https://pitomnikbogatova.ru/fonts/SegoeUI-SemilightItalic.woff2) format("woff2"), url(https://pitomnikbogatova.ru/fonts/SegoeUI-SemilightItalic.woff) format("woff");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: 'Segoe UI';
    src: url(https://pitomnikbogatova.ru/fonts/SegoeUI-LightItalic.woff2) format("woff2"), url(https://pitomnikbogatova.ru/fonts/SegoeUI-LightItalic.woff) format("woff");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: 'Segoe UI';
    src: url(https://pitomnikbogatova.ru/fonts/SegoeUI-BoldItalic.woff2) format("woff2"), url(https://pitomnikbogatova.ru/fonts/SegoeUI-BoldItalic.woff) format("woff");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: 'Segoe UI';
    src: url(https://pitomnikbogatova.ru/fonts/SegoeUI.woff2) format("woff2"), url(https://pitomnikbogatova.ru/fonts/SegoeUI.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Segoe UI Emoji';
    src: url(https://pitomnikbogatova.ru/fonts/SegoeUIEmoji.woff2) format("woff2"), url(https://pitomnikbogatova.ru/fonts/SegoeUIEmoji.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Segoe UI Semilight';
    src: url(https://pitomnikbogatova.ru/fonts/SegoeUI-Semilight.woff2) format("woff2"), url(https://pitomnikbogatova.ru/fonts/SegoeUI-Semilight.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Segoe UI';
    src: url(https://pitomnikbogatova.ru/fonts/SegoeUI-Bold.woff2) format("woff2"), url(https://pitomnikbogatova.ru/fonts/SegoeUI-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Segoe UI';
    src: url(https://pitomnikbogatova.ru/fonts/SegoeUIBlack-Italic.woff2) format("woff2"), url(https://pitomnikbogatova.ru/fonts/SegoeUIBlack-Italic.woff) format("woff");
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: 'Segoe UI';
    src: url(https://pitomnikbogatova.ru/fonts/SegoeUI-SemiboldItalic.woff2) format("woff2"), url(https://pitomnikbogatova.ru/fonts/SegoeUI-SemiboldItalic.woff) format("woff");
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: 'Segoe UI';
    src: url(https://pitomnikbogatova.ru/fonts/SegoeUI-Italic.woff2) format("woff2"), url(https://pitomnikbogatova.ru/fonts/SegoeUI-Italic.woff) format("woff");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'Segoe UI';
    src: url(https://pitomnikbogatova.ru/fonts/SegoeUI-Semibold.woff2) format("woff2"), url(https://pitomnikbogatova.ru/fonts/SegoeUI-Semibold.woff) format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'Segoe UI Symbol';
    src: url(https://pitomnikbogatova.ru/fonts/SegoeUISymbol.woff2) format("woff2"), url(https://pitomnikbogatova.ru/fonts/SegoeUISymbol.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

#about-2 .row .text ul {
    overflow: hidden;
    margin-bottom: 34px !important
}

#slider-wrapper .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    line-height: 1;
    vertical-align: top
}

#slider-wrapper .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 22px;
    height: 22px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 6px solid #fff;
    border-radius: 50%;
    outline: 0;
    background: #fff;
    margin: 0
}

* {
    outline: 0
}

.fancybox-button div, body, html {
    height: 100%
}

a, body {
    color: #3d4a3e
}

a, a:hover {
    text-decoration: none
}

i {
    font-style: normal
}

#about-2 .row .text ul, .ul-reset ul, ul.ul-reset {
    margin: 0;
    padding: 0;
    list-style: none
}

::-moz-placeholder {
    opacity: 1
}

::-webkit-input-placeholder {
    opacity: 1
}

button {
    cursor: pointer
}

.text-right {
    text-align: right
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.container {
    width: 996px;
    margin: 0 auto
}

#page {
    min-height: 100%;
    position: relative;
    padding-bottom: 226px
}

.title {
    color: #182319;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 50px;
    text-align: center
}

.title b {
    display: block;
    font-weight: 600;
    color: #25762a
}

.row-cols {
    margin: 0 -15px;
    font-size: 0
}

.row-cols [class*=col-] {
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
    margin-bottom: 30px
}

.row-cols [class*=col-].col-25 {
    width: 25%
}

.row-cols [class*=col-].col-33 {
    width: calc(100% / 3)
}

#about figure, .row-cols [class*=col-].col-50 {
    width: 50%
}

.section {
    padding: 70px 0
}

#main {
    padding: 30px 0 70px
}

#main > .container {
    margin-bottom: 50px
}

#about .text p:last-child, #main > .container:last-child {
    margin: 0
}

#main.v-2 {
    padding-bottom: 0
}

.path {
    font-size: 15px;
    margin-bottom: 30px
}

.path a {
    color: #25762a
}

.btn, a.btn {
    line-height: 50px;
    border-radius: 25px;
    padding: 0 55px;
    font-family: "Segoe UI";
    font-size: 16px;
    text-transform: uppercase;
    transition: .1s all
}

.btn.btn-small, a.btn.btn-small {
    line-height: 34px;
    border-radius: 17px;
    padding: 0 26px;
    font-size: 15px;
    text-transform: none
}

.btn.btn-green, a.btn.btn-green {
    background: #66a714;
    color: #fff
}

.btn.btn-green:hover, a.btn.btn-green:hover {
    background: #8bd72c
}

.btn.btn-green-light, a.btn.btn-green-light {
    background-color: #d7e6d8;
    color: #25762a
}

.btn.btn-green-light:hover, a.btn.btn-green-light:hover {
    background: #25762a;
    color: #fff
}

#header > .container {
    padding: 15px 0
}

#header > .container .logo {
    font-size: 0
}

#header > .container .address {
    position: relative;
    padding-left: 28px
}

#header > .container .address .icon-address, #header > .container .tel .icon-tel {
    fill: #25762a;
    position: absolute;
    top: 3px;
    left: 0;
    width: 17px;
    height: 23px
}

#header > .container .address dl {
    color: #384038
}

#header > .container .address dl dt {
    font-weight: 700
}

#header > .container .tel {
    position: relative;
    padding-left: 25px;
    margin-top: -5px
}

#header > .container .tel .icon-tel {
    width: 15px
}

#header > .container .tel dl dd a {
    font-size: 20px
}

#header #nav {
    background: #25762a
}

#header #nav .container .btn-menu {
    display: none;
    padding: 20px 0
}

#header #nav .container .btn-menu .icon-burger {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 auto;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition-property: background-color, transform;
    transition-duration: .3s
}

#header #nav .container .btn-menu .icon-burger:after, #header #nav .container .btn-menu .icon-burger:before {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition-property: background-color, transform;
    transition-duration: .3s;
    position: absolute;
    content: ""
}

#header #nav .container .btn-menu .icon-burger:before {
    top: -8px
}

#header #nav .container .btn-menu .icon-burger:after {
    top: 8px
}

#header #nav .container .btn-menu.active .icon-burger {
    background-color: transparent
}

#header #nav .container .btn-menu.active .icon-burger:before {
    transform: translateY(8px) rotate(45deg)
}

#header #nav .container .btn-menu.active .icon-burger:after {
    transform: translateY(-8px) rotate(-45deg)
}

#header #nav .container ul li {
    position: relative;
    flex: 1 1 100%
}

#header #nav .container ul li a {
    display: block;
    line-height: 48px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 0 14px;
    white-space: nowrap;
}

#header #nav .container ul li.active a, #header #nav .container ul li:hover a, #slider-wrapper .slick-dots li.slick-active button, #slider-wrapper .slick-dots li:hover button {
    background: #66a714
}

#header #nav .container ul li:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 28px;
    border-right: 1px dashed rgba(255, 255, 255, .2)
}

#header #nav .container ul li:last-child:after {
    display: none
}

#delivery, #slider-wrapper, #slider-wrapper .arrows {
    position: relative
}

#slider-wrapper #single-slider .item {
    height: 540px;
    position: relative;
    display: flex;
    color: #fff;
    text-align: center;
    align-items: center
}

#slider-wrapper #single-slider .item > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover
}

#slider-wrapper #single-slider .item .container {
    position: relative;
    z-index: 10;
    padding: 0 95px
}

#slider-wrapper #single-slider .item .container .item-title {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase
}

#slider-wrapper #single-slider .item .container .item-subtitle {
    font-size: 44px;
    margin-bottom: 40px
}

#slider-wrapper #single-slider .item .container p {
    font-size: 22px;
    margin-bottom: 30px
}

#slider-wrapper #single-slider .item .container .btn {
    line-height: 60px;
    border-radius: 30px;
    font-size: 18px
}

#slider-wrapper .arrows .slick-arrow {
    position: absolute;
    top: -284px;
    background: 0 0;
    border: 0;
    text-indent: -9999px;
    width: 31px;
    height: 49px
}

#slider-wrapper .arrows .slick-arrow.slick-prev {
    background: url(https://pitomnikbogatova.ru/img/icon-slide-prev.svg) no-repeat
}

#slider-wrapper .arrows .slick-arrow.slick-prev:hover {
    background: url(https://pitomnikbogatova.ru/img/icon-slide-prev-hov.svg) no-repeat
}

#slider-wrapper .arrows .slick-arrow.slick-next {
    background: url(https://pitomnikbogatova.ru/img/icon-slide-next.svg) no-repeat;
    right: 0
}

#slider-wrapper .arrows .slick-arrow.slick-next:hover {
    background: url(https://pitomnikbogatova.ru/img/icon-slide-next-hov.svg) no-repeat
}

#about .text {
    padding: 0 30px;
    width: 50%
}

#about .text .title {
    text-align: left;
    margin-bottom: 35px
}

#about .text p {
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 34px
}

#delivery {
    background: #f1f9e7;
    overflow: hidden
}

#delivery .container {
    position: relative;
    z-index: 10
}

#delivery .container .item {
    margin-bottom: 78px
}

#delivery .container .item figure {
    width: 50%;
    padding-right: 15px
}

#delivery .container .item figure img, #news .item figure img, .article #team .item figure img {
    width: 100%
}

#delivery .container .item .item-body {
    width: 50%;
    padding-left: 15px
}

#delivery .container .item .item-body .item-title {
    color: #25762a;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px
}

#delivery .container .item .item-body .item-title b {
    font-weight: 600
}

#delivery .container .item .item-body p {
    font-weight: 700;
    font-size: 20px
}

#about-2 .row .text p:last-child, #about-2 .row .text ul li:last-child, #delivery .container .item:last-child {
    margin: 0
}

#delivery .container .item:last-child figure {
    padding: 0 0 0 15px
}

#delivery .container .item:last-child .item-body {
    padding: 0 15px 0 0;
    text-align: right
}

#delivery:after, #delivery:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

#delivery:before {
    background: url(https://pitomnikbogatova.ru/img/plant-1.png) no-repeat;
    width: 986px;
    height: 882px;
    left: -573px
}

#delivery:after {
    background: url(https://pitomnikbogatova.ru/img/plant-2.png) no-repeat;
    width: 668px;
    height: 795px;
    right: -235px
}

#about-2 .row figure {
    width: 50%;
    float: left;
    margin-right: 30px
}

#about-2 .row .text {
    padding: 0 30px
}

#about-2 .row .text ul li {
    position: relative;
    font-size: 20px;
    padding-left: 28px;
    margin-bottom: 5px
}

#about-2 .row .text ul li:before {
    content: '';
    background-image: url(https://pitomnikbogatova.ru/img/sprite.png);
    background-position: -293px -25px;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 9px;
    left: 0
}

#about-2 .row .text p {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 34px
}

#benefits {
    background: url(https://pitomnikbogatova.ru/img/bg-benefits-left.jpg) no-repeat left, url(https://pitomnikbogatova.ru/img/bg-benefits-right.jpg) no-repeat right #25762a;
    padding-bottom: 1px
}

#benefits .title, #benefits .title b {
    color: #fff
}

#benefits ul {
    display: flex;
    flex-wrap: wrap;
    color: #fff
}

#benefits ul li {
    width: calc(100% / 3);
    text-align: center;
    margin-bottom: 70px;
    padding: 0 30px
}

#benefits ul li .icon {
    width: 184px;
    height: 184px;
    border: 4px solid #fff;
    display: inline-block;
    border-radius: 50%;
    line-height: 176px;
    margin-bottom: 36px
}

#benefits ul li .icon .icon-b-1 {
    background-image: url(https://pitomnikbogatova.ru/img/sprite.png);
    background-position: 0 -82px;
    width: 96px;
    height: 73px
}

#benefits ul li .icon .icon-b-2, #benefits ul li .icon .icon-b-3 {
    background-image: url(https://pitomnikbogatova.ru/img/sprite.png);
    background-position: -211px -84px;
    width: 68px;
    height: 68px
}

#benefits ul li .icon .icon-b-3 {
    background-position: -127px -84px;
    width: 66px;
    height: 65px
}

#benefits ul li .icon .icon-b-4, #benefits ul li .icon .icon-b-5 {
    background-image: url(https://pitomnikbogatova.ru/img/sprite.png);
    background-position: -127px 0;
    width: 74px;
    height: 74px
}

#benefits ul li .icon .icon-b-5 {
    background-position: 0 0;
    width: 117px;
    height: 72px
}

#benefits ul li .icon .icon-b-6, #news .item .item-date .icon-date {
    background-image: url(https://pitomnikbogatova.ru/img/sprite.png);
    background-position: -211px 0;
    width: 72px;
    height: 74px
}

#benefits ul li p {
    font-size: 17px;
    font-weight: 600
}

#news .row-cols {
    margin-bottom: 7px
}

#news .item {
    text-align: center
}

#news .item figure {
    margin-bottom: 26px
}

#news .item .item-date, #news .item .item-title {
    margin-bottom: 10px
}

#news .item .item-date .icon-date {
    background-position: -293px 0;
    width: 15px;
    height: 15px;
    margin-right: 10px
}

#news .item .item-date span {
    color: #7f7f7f;
    font-size: 15px
}

#news .item .item-title a, #news-list .item .item-body .item-title a {
    font-weight: 700;
    color: #25762a;
    font-size: 15px
}

#news .item p, #news-list .item .item-body p {
    font-size: 15px;
    margin-bottom: 20px
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #363e37
}

#footer .container {
    padding: 22px 0
}

#footer .container .logo, #quote p {
    font-size: 0;
    margin-bottom: 10px
}

#footer .container .link-create {
    color: #fff;
    text-decoration: underline;
    font-size: 14px
}

#footer .container .link-create:hover, .article blockquote a:hover, .article ol a:hover, .article p a:hover, .article ul a:hover {
    text-decoration: none
}

#footer .container ul {
    width: 430px;
    font-size: 0
}

#footer .container ul li {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 4px 0;
    padding: 0 15px
}

#footer .container ul li a {
    font-size: 15px;
    color: #fff;
    position: relative;
    padding-left: 17px;
    display: inline-block
}

#footer .container ul li a:before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #66a714;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px
}

#footer .container ul li a:hover {
    color: #66a714
}

#footer .container .tel {
    position: relative;
    padding-left: 25px;
    color: #fff;
    margin-bottom: 13px
}

#footer .container .tel .icon-tel {
    fill: #66a714;
    position: absolute;
    top: 3px;
    left: 0;
    width: 15px;
    height: 23px
}

#footer .container .tel dl dd a {
    font-size: 20px;
    color: #fff
}

#footer .container .socials {
    font-size: 0
}

#footer .container .socials a {
    margin-right: 14px
}

#footer .container .socials a .icon-ins, #footer .container .socials a .icon-yt {
    background-image: url(https://pitomnikbogatova.ru/img/sprite.png);
    background-position: -46px -235px;
    width: 36px;
    height: 36px
}

#footer .container .socials a .icon-ins {
    background-position: 0 -235px
}

#footer .container .socials a:hover .icon-ins, #footer .container .socials a:hover .icon-yt {
    background-image: url(https://pitomnikbogatova.ru/img/sprite.png);
    background-position: -138px -235px;
    width: 36px;
    height: 36px
}

#footer .container .socials a:hover .icon-ins {
    background-position: -92px -235px
}

#footer .copyright {
    text-align: center;
    color: #fff;
    font-size: 15px;
    background-color: #262c27;
    padding: 22px 0
}

#quote {
    background: url(https://pitomnikbogatova.ru/img/bg-quote.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    padding: 36px 0
}

#quote p {
    font-size: 24px
}

#quote p:last-child, .article blockquote:last-child, .article ol li:last-child, .article ol:last-child, .article p:last-child, .article ul li:last-child, .article ul:last-child {
    margin: 0
}

.article, .article #team, .map {
    margin-bottom: 50px
}

.article h1, .article h2 {
    font-size: 35px;
    font-weight: 600
}

.article h1 {
    margin-bottom: 50px;
    text-transform: uppercase
}

.article h2 {
    text-transform: none
}

.article h3 {
    font-size: 25px;
    font-weight: 700
}

.article .alignleft {
    float: left;
    margin-right: 20px
}

.article .alignright {
    float: right;
    margin-left: 20px
}

.article blockquote, .article ol, .article p, .article ul {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 30px;
    padding: 0;
    list-style: none
}

.article blockquote a, .article ol a, .article p a, .article ul a {
    color: #25762a;
    text-decoration: underline
}

.article ol li, .article ul li {
    position: relative;
    margin-bottom: 10px
}

.article ul li {
    font-size: 18px;
    padding-left: 28px
}

.article ul li:before {
    content: '';
    background-image: url(https://pitomnikbogatova.ru/img/sprite.png);
    background-position: -293px -25px;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 10px;
    left: 0
}

.article ol {
    counter-reset: list
}

.article ol li {
    padding-left: 46px
}

.article ol li:before {
    content: counter(list);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    counter-increment: list;
    width: 34px;
    line-height: 34px;
    background-color: #25762a;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 50%
}

.article #team .item, .article table {
    text-align: center;
    width: 100%;
    table-layout: auto;
}

.article #team .item figure, .article h2, .article h3 {
    margin-bottom: 30px
}

.article #team .item dl {
    margin-bottom: 40px
}

.article #team .item dl dt {
    font-size: 17px;
    margin-bottom: 8px
}

.article #team .item dl dd {
    font-weight: 700;
    font-size: 19px
}

.article #team .item .link-tel .icon-tel {
    width: 15px;
    height: 23px;
    fill: #337f28;
    margin-right: 10px
}

.article #team .item .link-tel span {
    font-size: 19px
}

.article table {
    width: 100%
}

.article table thead th {
    background-color: #25762a;
    color: #fff;
    vertical-align: middle
}

.article table thead th[colspan] {
    background-color: #66a714
}

.article table tbody tr td, .article table thead th {
    padding: 10px 33px;
    font-size: 18px
}

.article table tbody tr td .icon-no-photo, .article table tbody tr td .icon-photo {
    background-image: url(https://pitomnikbogatova.ru/img/sprite.png);
    background-position: -221px -235px;
    width: 27px;
    height: 24px
}

.article table tbody tr td .icon-no-photo {
    background-position: -184px -235px
}

.article table tbody tr:nth-child(even) {
    background-color: #d7e6d8
}

.article:last-child {
    margin: 0
}

.map .title-2 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 35px
}

.map p {
    font-size: 18px
}

.map .container {
    margin-bottom: 40px
}

.map:last-child {
    margin-bottom: 0
}

#catalog .cat .cat-list ul, #news-list {
    font-size: 0
}

#news-list .item {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dbdbdb
}

#news-list .item .item-body, #news-list .item figure {
    display: inline-block;
    vertical-align: top
}

#news-list .item figure {
    width: 306px
}

#news-list .item .item-body {
    width: calc(100% - 306px);
    padding-left: 30px
}

#news-list .item .item-body .item-date, #news-list .item .item-body .item-title {
    margin-bottom: 10px
}

#news-list .item .item-body .item-date .icon-date {
    background-image: url(https://pitomnikbogatova.ru/img/sprite.png);
    background-position: -293px 0;
    width: 15px;
    height: 15px;
    margin-right: 10px
}

#news-list .item .item-body .item-date span {
    color: #7f7f7f;
    font-size: 15px
}

#news-list .item:last-child {
    border-bottom: 0
}

#about-2 .row::after, #about-2 .row::before, .article::after, .article::before {
    content: '';
    display: table
}

#about-2 .row::after, .article::after {
    clear: both
}

#about, #delivery .container .item, #footer .container, #header #nav .container ul, #header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.btn, a.btn {
    text-align: center;
    cursor: pointer
}

#footer .container .socials a, #news .item .item-date span, #news-list .item .item-body .item-date span, .article #team .item .link-tel span, .btn, .pages a, .pages span, [class*=icon-], a.btn {
    display: inline-block;
    vertical-align: middle
}

.pages {
    font-size: 0;
    text-align: center
}

.pages a, .pages span {
    width: 50px;
    line-height: 50px;
    font-size: 22px;
    font-weight: 700;
    color: #3d4a3e;
    text-align: center;
    border-radius: 50%;
    margin: 0 3px
}

.pages a.prev, .pages span.prev {
    background-image: url(https://pitomnikbogatova.ru/img/sprite.png);
    background-position: 0 -165px;
    width: 60px;
    height: 60px
}

.pages a.next, .pages a:hover.prev, .pages span.next, .pages span:hover.prev {
    background-image: url(https://pitomnikbogatova.ru/img/sprite.png);
    background-position: -140px -165px;
    width: 60px;
    height: 60px
}

.pages a:hover.prev, .pages span:hover.prev {
    background-position: -210px -165px
}

.pages .continue {
    background: none;
}

#catalog .cat .cat-list ul li:before, .pages a:hover.next, .pages span:hover.next {
    background-image: url(https://pitomnikbogatova.ru/img/sprite.png);
    background-position: -70px -165px;
    width: 60px;
    height: 60px
}

.pages span {
    background-color: #d7e6d8
}

#slider-wrapper .slick-dots {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
    position: absolute;
    bottom: 43px;
    left: 0;
    right: 0
}

#catalog {
    font-size: 0;
    vertical-align: top
}

#catalog .cat .cat-name {
    position: relative;
    display: block
}

#catalog .cat .cat-name img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0
}

#catalog .cat .cat-name span {
    text-align: center;
    padding: 64px 0;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    z-index: 10
}

#catalog .cat .cat-list {
    padding: 30px 0
}

#catalog .cat .cat-list ul li {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    font-size: 18px;
    color: #25762a;
    margin-bottom: 10px;
    position: relative;
    padding-left: 21px
}

#catalog .cat .cat-list ul li:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    background-position: -293px -25px;
    width: 11px;
    height: 11px
}

#catalog .btn-catalog {
    text-align: center;
    padding: 45px 0
}

#catalog .btn-catalog .btn {
    line-height: 70px;
    border-radius: 35px;
    font-size: 20px
}

.btnprice {
    width: 595px;
}

#catalog .cat .cat-name span, .slick-list, .slick-slider {
    position: relative;
    display: block
}

.article .btn-catalog {
    text-align: center;
    padding: 20px 0 0 0;
}

.slick-slider {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list, .slick-slider .slick-track {
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after, .slick-track:before {
    content: "";
    display: table
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

body.compensate-for-scrollbar {
    overflow: hidden
}

.fancybox-active {
    height: auto
}

.fancybox-is-hidden {
    left: -9999px;
    margin: 0;
    position: absolute !important;
    top: -9999px;
    visibility: hidden
}

.fancybox-container {
    -webkit-backface-visibility: hidden;
    height: 100%;
    left: 0;
    outline: 0;
    position: fixed;
    -webkit-tap-highlight-color: transparent;
    top: 0;
    touch-action: manipulation;
    transform: translateZ(0);
    width: 100%;
    z-index: 99992
}

.fancybox-container * {
    box-sizing: border-box
}

.fancybox-bg, .fancybox-inner, .fancybox-outer, .fancybox-stage {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.fancybox-outer {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto
}

.fancybox-bg {
    background: #1e1e1e;
    opacity: 0;
    transition-duration: inherit;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.47, 0, .74, .71)
}

.fancybox-is-open .fancybox-bg {
    opacity: .9;
    transition-timing-function: cubic-bezier(.22, .61, .36, 1)
}

.fancybox-caption {
    direction: ltr;
    transition: opacity .25s ease, visibility 0s ease .25s;
    visibility: hidden
}

.fancybox-caption, .fancybox-infobar, .fancybox-toolbar {
    opacity: 0;
    position: absolute
}

.fancybox-infobar, .fancybox-navigation .fancybox-button, .fancybox-toolbar {
    direction: ltr;
    transition: opacity .25s ease, visibility 0s ease .25s;
    visibility: hidden;
    z-index: 99997
}

.fancybox-show-caption .fancybox-caption, .fancybox-show-infobar .fancybox-infobar, .fancybox-show-nav .fancybox-navigation .fancybox-button, .fancybox-show-toolbar .fancybox-toolbar {
    opacity: 1;
    transition: opacity .25s ease 0s, visibility 0s ease 0s;
    visibility: visible
}

.fancybox-infobar {
    color: #ccc;
    font-size: 13px;
    -webkit-font-smoothing: subpixel-antialiased;
    height: 44px;
    left: 0;
    line-height: 44px;
    min-width: 44px;
    mix-blend-mode: difference;
    padding: 0 10px;
    pointer-events: none;
    top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.fancybox-toolbar {
    right: 0;
    top: 0
}

.fancybox-stage {
    direction: ltr;
    overflow: visible;
    transform: translateZ(0);
    z-index: 99994
}

.fancybox-is-open .fancybox-stage {
    overflow: hidden
}

.fancybox-slide {
    -webkit-backface-visibility: hidden;
    display: none;
    height: 100%;
    left: 0;
    outline: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 44px;
    position: absolute;
    text-align: center;
    top: 0;
    transition-property: transform, opacity;
    white-space: normal;
    width: 100%;
    z-index: 99994
}

.fancybox-slide:before {
    content: "";
    display: inline-block;
    font-size: 0;
    height: 100%;
    vertical-align: middle;
    width: 0
}

.fancybox-is-sliding .fancybox-slide, .fancybox-slide--current, .fancybox-slide--next, .fancybox-slide--previous {
    display: block
}

.fancybox-slide--image {
    overflow: hidden;
    padding: 44px 0
}

.fancybox-slide--image:before {
    display: none
}

.fancybox-slide--html {
    padding: 6px
}

.fancybox-content {
    background: #fff;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 44px;
    position: relative;
    text-align: left;
    vertical-align: middle
}

.fancybox-slide--image .fancybox-content {
    animation-timing-function: cubic-bezier(.5, 0, .14, 1);
    -webkit-backface-visibility: hidden;
    background: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 0;
    max-width: none;
    overflow: visible;
    padding: 0;
    position: absolute;
    top: 0;
    transform-origin: top left;
    transition-property: transform, opacity;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 99995
}

.fancybox-can-zoomOut .fancybox-content {
    cursor: zoom-out
}

.fancybox-can-zoomIn .fancybox-content {
    cursor: zoom-in
}

.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content {
    cursor: -webkit-grab;
    cursor: grab
}

.fancybox-is-grabbing .fancybox-content {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.fancybox-container [data-selectable=true] {
    cursor: text
}

.fancybox-image, .fancybox-spaceball {
    background: 0 0;
    border: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none;
    padding: 0;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%
}

.fancybox-spaceball {
    z-index: 1
}

.fancybox-slide--iframe .fancybox-content, .fancybox-slide--map .fancybox-content, .fancybox-slide--pdf .fancybox-content, .fancybox-slide--video .fancybox-content {
    height: 100%;
    overflow: visible;
    padding: 0;
    width: 100%
}

.fancybox-slide--video .fancybox-content {
    background: #000
}

.fancybox-slide--map .fancybox-content {
    background: #e5e3df
}

.fancybox-slide--iframe .fancybox-content {
    background: #fff
}

.fancybox-iframe, .fancybox-video {
    background: 0 0;
    border: 0;
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%
}

.fancybox-iframe {
    left: 0;
    position: absolute;
    top: 0
}

.fancybox-error {
    background: #fff;
    cursor: default;
    max-width: 400px;
    padding: 40px;
    width: 100%
}

.fancybox-error p {
    color: #444;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0
}

.fancybox-button {
    background: rgba(30, 30, 30, .6);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    height: 44px;
    margin: 0;
    padding: 10px;
    position: relative;
    transition: color .2s;
    vertical-align: top;
    visibility: inherit;
    width: 44px;
    color: #ccc
}

.fancybox-button:link, .fancybox-button:visited {
    color: #ccc
}

.fancybox-button:hover {
    color: #fff
}

.fancybox-button:focus {
    outline: 0
}

.fancybox-button.fancybox-focus {
    outline: 1px dotted
}

.fancybox-button[disabled], .fancybox-button[disabled]:hover {
    color: #888;
    cursor: default;
    outline: 0
}

.fancybox-button svg {
    display: block;
    height: 100%;
    overflow: visible;
    position: relative;
    width: 100%
}

.fancybox-button svg path {
    fill: currentColor;
    stroke-width: 0
}

.fancybox-button--fsenter svg:nth-child(2), .fancybox-button--fsexit svg:nth-child(1), .fancybox-button--pause svg:nth-child(1), .fancybox-button--play svg:nth-child(2) {
    display: none
}

.fancybox-progress {
    background: #ff5268;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0;
    transition-property: transform;
    transition-timing-function: linear;
    z-index: 99998
}

.fancybox-close-small {
    background: 0 0;
    border: 0;
    border-radius: 0;
    color: #ccc;
    cursor: pointer;
    opacity: .8;
    padding: 8px;
    position: absolute;
    right: -12px;
    top: -44px;
    z-index: 401
}

.fancybox-close-small:hover {
    color: #fff;
    opacity: 1
}

.fancybox-slide--html .fancybox-close-small {
    color: currentColor;
    padding: 10px;
    right: 0;
    top: 0
}

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
    overflow: hidden
}

.fancybox-is-scaling .fancybox-close-small, .fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
    display: none
}

.fancybox-navigation .fancybox-button {
    background-clip: content-box;
    height: 100px;
    opacity: 0;
    position: absolute;
    top: calc(50% - 50px);
    width: 70px
}

.fancybox-navigation .fancybox-button div {
    padding: 7px
}

.fancybox-navigation .fancybox-button--arrow_left {
    left: 0;
    padding: 31px 26px 31px 6px
}

.fancybox-navigation .fancybox-button--arrow_right {
    padding: 31px 6px 31px 26px;
    right: 0
}

.fancybox-caption {
    bottom: 0;
    color: #eee;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    line-height: 1.5;
    padding: 25px 44px;
    right: 0;
    text-align: center;
    z-index: 99996
}

.fancybox-caption:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAD6CAQAAADKSeXYAAAAYklEQVQoz42RwQ3AMAgDjfcfup8WoRykfBAK5mQHKSz5rbXJPis1hjiV3CIqgG0hLZPkVkA4p4x5oR1bVeDrdCLrW2Q0D5bcwY3TGMHbdw3mPRuOtaspYP1w//G1OIcW148H0DMCqI/3mMMAAAAASUVORK5CYII=);
    background-repeat: repeat-x;
    background-size: contain;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: -44px;
    z-index: -1
}

.fancybox-caption a, .fancybox-caption a:link, .fancybox-caption a:visited {
    color: #ccc;
    text-decoration: none
}

.fancybox-caption a:hover {
    color: #fff;
    text-decoration: underline
}

.fancybox-loading {
    animation: a 1s linear infinite;
    background: 0 0;
    border: 4px solid #888;
    border-bottom-color: #fff;
    border-radius: 50%;
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    opacity: .7;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: 99999
}

.fancybox-animated {
    transition-timing-function: cubic-bezier(0, 0, .25, 1)
}

.fancybox-fx-slide.fancybox-slide--previous {
    opacity: 0;
    transform: translate3d(-100%, 0, 0)
}

.fancybox-fx-slide.fancybox-slide--next {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
}

.fancybox-fx-slide.fancybox-slide--current {
    opacity: 1;
    transform: translateZ(0)
}

.fancybox-fx-fade.fancybox-slide--next, .fancybox-fx-fade.fancybox-slide--previous {
    opacity: 0;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1)
}

.fancybox-fx-fade.fancybox-slide--current {
    opacity: 1
}

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1.5)
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
    opacity: 0;
    transform: scale3d(.5, .5, .5)
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
    opacity: 1;
    transform: scaleX(1)
}

.fancybox-fx-rotate.fancybox-slide--previous {
    opacity: 0;
    transform: rotate(-1turn)
}

.fancybox-fx-rotate.fancybox-slide--next {
    opacity: 0;
    transform: rotate(1turn)
}

.fancybox-fx-rotate.fancybox-slide--current {
    opacity: 1;
    transform: rotate(0deg)
}

.fancybox-fx-circular.fancybox-slide--previous {
    opacity: 0;
    transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0)
}

.fancybox-fx-circular.fancybox-slide--next {
    opacity: 0;
    transform: scale3d(0, 0, 0) translate3d(100%, 0, 0)
}

.fancybox-fx-circular.fancybox-slide--current {
    opacity: 1;
    transform: scaleX(1) translateZ(0)
}

.fancybox-fx-tube.fancybox-slide--previous {
    transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg)
}

.fancybox-fx-tube.fancybox-slide--next {
    transform: translate3d(100%, 0, 0) scale(.1) skew(10deg)
}

.fancybox-fx-tube.fancybox-slide--current {
    transform: translateZ(0) scale(1)
}

.fancybox-share {
    background: #f4f4f4;
    border-radius: 3px;
    max-width: 90%;
    padding: 30px;
    text-align: center
}

.fancybox-share h1 {
    color: #222;
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px
}

.fancybox-share p {
    margin: 0;
    padding: 0
}

.fancybox-share__button {
    border: 0;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 5px 10px;
    min-width: 130px;
    padding: 0 15px;
    text-decoration: none;
    transition: all .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap
}

.fancybox-share__button:link, .fancybox-share__button:visited {
    color: #fff
}

.fancybox-share__button:hover {
    text-decoration: none
}

.fancybox-share__button--fb {
    background: #3b5998
}

.fancybox-share__button--fb:hover {
    background: #344e86
}

.fancybox-share__button--pt {
    background: #bd081d
}

.fancybox-share__button--pt:hover {
    background: #aa0719
}

.fancybox-share__button--tw {
    background: #1da1f2
}

.fancybox-share__button--tw:hover {
    background: #0d95e8
}

.fancybox-share__button svg {
    height: 25px;
    margin-right: 7px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 25px
}

.fancybox-share__button svg path {
    fill: #fff
}

.fancybox-share__input {
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
    border-radius: 0;
    color: #5d5b5b;
    font-size: 14px;
    margin: 10px 0 0;
    outline: 0;
    padding: 10px 15px;
    width: 100%
}

.fancybox-thumbs {
    background: #ddd;
    bottom: 0;
    display: none;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 2px 2px 4px;
    position: absolute;
    right: 0;
    -webkit-tap-highlight-color: transparent;
    top: 0;
    width: 212px;
    z-index: 99995
}

.fancybox-thumbs-x {
    overflow-x: auto;
    overflow-y: hidden
}

.fancybox-show-thumbs .fancybox-thumbs {
    display: block
}

.fancybox-show-thumbs .fancybox-inner {
    right: 212px
}

.fancybox-thumbs__list {
    font-size: 0;
    height: 100%;
    list-style: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: relative;
    white-space: nowrap;
    width: 100%
}

.fancybox-thumbs-x .fancybox-thumbs__list {
    overflow: hidden
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
    width: 7px
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 10px
}

.fancybox-thumbs__list a {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, .1);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    float: left;
    height: 75px;
    margin: 2px;
    max-height: calc(100% - 8px);
    max-width: calc(50% - 4px);
    outline: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    width: 100px
}

.fancybox-thumbs__list a:before {
    border: 6px solid #ff5268;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .2s cubic-bezier(.25, .46, .45, .94);
    z-index: 99991
}

.fancybox-thumbs__list a:focus:before {
    opacity: .5
}

.fancybox-thumbs__list a.fancybox-thumbs-active:before {
    opacity: 1
}

@media (max-width: 1919px) {
    #delivery:after, #delivery:before {
        display: none
    }

    #benefits {
        background: #25762a
    }
}

@media (max-width: 1000px) {
    .pages a, .pages span {
        width: 36px;
        line-height: 36px;
        margin: 0
    }

    .container {
        width: 93.75%
    }

    #page {
        padding-bottom: 0
    }

    .title {
        font-size: 24px;
        margin-bottom: 30px
    }

    .row-cols {
        margin: 0
    }

    .row-cols [class*=col-] {
        padding: 0
    }

    #about-2 .row figure img, #news-list .item figure img, .row-cols [class*=col-].col-33 {
        width: 100%
    }

    #main, .section {
        padding: 30px 0
    }

    #header > .container {
        display: block;
        text-align: center
    }

    #header #nav .container ul, #header > .container .address, #slider-wrapper .arrows,{
        display: none
    }

    #header > .container .tel {
        margin-top: 10px;
        display: inline-block;
        text-align: left
    }

    #about, #benefits ul, #header #nav .container .btn-menu, {
        display: block
    }

    #slider-wrapper #single-slider .item {
        height: 300px;
        padding: 30px 0 100px;
        display: block
    }

    #slider-wrapper #single-slider .item .container {
        padding: 0
    }

    #slider-wrapper #single-slider .item .container .item-title {
        font-size: 32px
    }

    #slider-wrapper #single-slider .item .container .item-subtitle {
        font-size: 24px;
        margin-bottom: 20px
    }

    #slider-wrapper #single-slider .item .container p {
        font-size: 16px
    }

    #about figure {
        width: 100%;
        margin-bottom: 20px
    }

    #about .text {
        width: 100%;
        padding: 0 10px;
        text-align: center
    }

    #about .text .title {
        text-align: center;
        margin-bottom: 20px
    }

    #about .text p {
        font-size: 16px;
        line-height: 24px
    }

    #delivery .container .item {
        display: block;
        margin-bottom: 30px
    }

    #delivery .container .item figure {
        width: auto;
        padding: 0;
        margin-bottom: 20px
    }

    #delivery .container .item .item-body {
        width: auto;
        padding: 0
    }

    #delivery .container .item .item-body .item-title {
        font-size: 24px
    }

    #delivery .container .item .item-body p {
        font-size: 16px;
        font-weight: 600
    }

    #delivery .container .item:last-child figure {
        padding: 0;
        margin-top: 20px
    }

    #delivery .container .item:last-child .item-body {
        padding: 0
    }

    #about-2 .row figure {
        float: none;
        width: 100%;
        margin: 0 0 20px
    }

    #about-2 .row .text {
        padding: 0 10px
    }

    #benefits {
        padding-bottom: 30px
    }

    #benefits ul li {
        padding: 0;
        width: 100%;
        margin-bottom: 30px
    }

    #benefits ul li:last-child, #footer .container .col:last-child {
        margin: 0
    }

    #benefits ul li .icon {
        width: 140px;
        line-height: 136px;
        height: 140px;
        border: 2px solid #fff
    }

    #benefits ul li .icon i {
        transform: scale(.8)
    }

    #footer {
        position: static
    }

    #footer .container {
        display: block;
        text-align: center
    }

    #footer .container .col, .article #team .item dl, .article #team .item figure {
        margin-bottom: 20px
    }

    #footer .container ul {
        width: 100%;
        text-align: left
    }

    #footer .container ul li {
        padding: 0;
        width: 100%
    }

    #footer .container .tel {
        display: inline-block;
        text-align: left
    }

    #footer .container .socials a {
        margin: 0 7px
    }

    #footer .copyright {
        font-size: 12px
    }

    .article h1, .article h2 {
        font-size: 28px
    }

    .article h3 {
        font-size: 20px
    }

    .article .alignleft {
        max-width: 40%;
        margin-right: 10px
    }

    .article .alignright {
        max-width: 40%;
        margin-left: 10px
    }


    #news-list .item .item-body, #news-list .item figure {
        display: block
    }

    #news-list .item figure {
        width: auto
    }

    #news-list .item .item-body {
        width: auto;
        padding-left: 0;
        margin-top: 20px
    }

    #catalog .cat .cat-list ul li {
        width: 50%;
        font-size: 16px
    }

    #catalog .btn-catalog .btn {
        max-width: 100%;
        padding: 0 30px
    }

    .btnprice {
        max-width: 100%;
        line-height: 40px !important;
    }
}

@media (max-width: 576px) {
    .fancybox-thumbs {
        width: 110px
    }

    .fancybox-show-thumbs .fancybox-inner {
        right: 110px
    }

    .fancybox-thumbs__list a {
        max-width: calc(100% - 10px)
    }

    .btnprice {
        max-width: 100%;
        line-height: 40px !important;
    }
}

@media (max-height: 576px) {
    .fancybox-caption {
        padding: 12px
    }

    .fancybox-slide {
        padding-left: 6px;
        padding-right: 6px
    }

    .fancybox-slide--image {
        padding: 6px 0
    }

    .fancybox-close-small {
        right: -6px
    }

    .fancybox-slide--image .fancybox-close-small {
        background: #4e4e4e;
        color: #f2f4f6;
        height: 36px;
        opacity: 1;
        padding: 6px;
        right: 0;
        top: 0;
        width: 36px
    }

    .btnprice {
        max-width: 100%;
        line-height: 40px !important;
    }
}

/*# sourceMappingURL=style.css.map */

#yamap {
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
}

#yamap2 {
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
}

#slider-wrapper #single-slider div .item {display: none;}
#slider-wrapper #single-slider div:first-child .item {display: flex;}

.thumb-wrap {
    position: relative;
    padding-bottom: 56.25%; /* Р·Р°РґР°С‘С‚ РІС‹СЃРѕС‚Сѓ РєРѕРЅС‚РµР№РЅРµСЂР° РґР»СЏ 16:9 (РµСЃР»Рё 4:3 вЂ” РїРѕСЃС‚Р°РІСЊС‚Рµ 75%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.thumb-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contactsocials a {
    margin: 0 7px;
    display: inline-block;
}

.contactsocials a .yt {
    background-image: url(https://pitomnikbogatova.ru/img/youtube_cont.png);
    display: flex;
    width: 80px;
    height: 80px;
}

.contactsocials a:hover .yt {
    background-position: 0 -80px;

}

.contactsocials a .ins {
    background-image: url(https://pitomnikbogatova.ru/img/inst_cont.png);
    display: flex;
    width: 80px;
    height: 80px
}

.contactsocials a:hover .ins {
    background-position: 0 -80px;
}

.article .newsbody img {
    max-width: 100% !important;
    height: auto !important;
}