{% extends "layout.html" %}

{% block page %}
<div class="slogan">
    <div class="container">
        <p>“Хороший ландшафтный дизайнер не следует формулам. Его творчество - всегда
            эксперимент.”</p>
        <p class="text-right"><em>(c) Директор питомника</em></p>
    </div>
</div>
<div id="main" class="section container">
    <div class="path">
        <a href="/">Главная</a> &gt; О нас
    </div>
    <article class="article desc">
        <h1>Хвойные растения</h1>
        <p>Питомник существует с 1986 года. На сегодняшний день является одним из ведущих производителей декоративных
            деревьев и кустарников на юге России. Мы предлагаем широчайший ассортимент декоративных культур. В
            производстве используются только лучшие, хорошо зарекомендовавшие себя сорта и множество интересных новинок.</p>
    </article>
    <div class="grid-products">
        <a href="#" class="product">
            <figure>
                <img src="img/card.png" alt="" width="315" height="379" loading="lazy">
                <figcaption>
                    590 руб.
                </figcaption>
            </figure>
            <div class="product-title">
                Туя западная
                "Golden Danica" С2,
                диаметр 15-20см
            </div>
        </a>
        <a href="#" class="product">
            <figure>
                <img src="img/card.png" alt="" width="315" height="379" loading="lazy">
                <figcaption>
                    590 руб.
                </figcaption>
            </figure>
            <div class="product-title">
                Туя западная
                "Golden Danica" С2,
                диаметр 15-20см
            </div>
        </a>
        <a href="#" class="product">
            <figure>
                <img src="img/card.png" alt="" width="315" height="380" loading="lazy">
                <figcaption>
                    590 руб.
                </figcaption>
            </figure>
            <div class="product-title">
                Туя западная
                "Golden Danica" С2,
                диаметр 15-20см
            </div>
        </a>
        <a href="#" class="product">
            <figure>
                <img src="img/card.png" alt="" width="315" height="380" loading="lazy">
                <figcaption>
                    590 руб.
                </figcaption>
            </figure>
            <div class="product-title">
                Туя западная
                "Golden Danica" С2,
                диаметр 15-20см
            </div>
        </a>
        <a href="#" class="product">
            <figure>
                <img src="img/card.png" alt="" width="315" height="380" loading="lazy">
                <figcaption>
                    590 руб.
                </figcaption>
            </figure>
            <div class="product-title">
                Туя западная
                "Golden Danica" С2,
                диаметр 15-20см
            </div>
        </a>
        <a href="#" class="product">
            <figure>
                <img src="img/card.png" alt="" width="315" height="380" loading="lazy">
                <figcaption>
                    590 руб.
                </figcaption>
            </figure>
            <div class="product-title">
                Туя западная
                "Golden Danica" С2,
                диаметр 15-20см
            </div>
        </a>
    </div>
</div>
{% endblock %}
