{% extends "layout.html" %}

{% block page %}
<div id="main" class="section container">
    <div class="path">
        <a href="/">Главная</a> &gt; Прайс-лист Реализация растений весна 2025г. Фото растений будут позже. После того как растения выйдут из зимнего окраса.
    </div>
    <article class="article">
        <h1>Прайс-лист Реализация растений весна 2025г. Фото растений будут позже. После того как растения выйдут из зимнего окраса.</h1>
        <p>
            Хвойные лиственные растения контейнер<span style="font-size:20px;"><span style="font-family:arial,helvetica,sans-serif;">&nbsp;Р-9&nbsp; 150р
        </p>
        <div class="table-responsive">
            <table>
                <thead>
                <tr>
                    <th colspan="7">Хвойные</th>
                </tr>
                <tr>
                    <th>№&nbsp;п\п</th>
                    <th>Название</th>
                    <th>Размер</th>
                    <th>Контейнер</th>
                    <th>Из&nbsp;грунта</th>
                    <th>Цена</th>
                    <th>Фото</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td data-title="№&nbsp;п\п ">1</td>
                    <td data-title="Название">ель глаука</td>
                    <td data-title="Размер">40-50</td>
                    <td data-title="Контейнер">с-10</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1900&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">2</td>
                    <td data-title="Название">кипарисовик купрецепарис голд райдер</td>
                    <td data-title="Размер">50-70</td>
                    <td data-title="Контейнер">с-3</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1800&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">3</td>
                    <td data-title="Название">можжевельник блю арров</td>
                    <td data-title="Размер">90-110</td>
                    <td data-title="Контейнер">с-10</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1800&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">4</td>
                    <td data-title="Название">можжевельник глаука</td>
                    <td data-title="Размер">50-70</td>
                    <td data-title="Контейнер">с-10</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1700&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">5</td>
                    <td data-title="Название">можжевельник голд стар</td>
                    <td data-title="Размер">50-60</td>
                    <td data-title="Контейнер">с-10</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1800&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">6</td>
                    <td data-title="Название">можжевельник голубой дунай</td>
                    <td data-title="Размер">40-50</td>
                    <td data-title="Контейнер">с-10</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1700&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">7</td>
                    <td data-title="Название">можжевельник минджулепт</td>
                    <td data-title="Размер">50-60</td>
                    <td data-title="Контейнер">с-10</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1700&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">8</td>
                    <td data-title="Название">можжевельник олд голд</td>
                    <td data-title="Размер">40-60</td>
                    <td data-title="Контейнер">с-10</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1800&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">9</td>
                    <td data-title="Название">можжевельник прокумбинс нана</td>
                    <td data-title="Размер">40-50</td>
                    <td data-title="Контейнер">с-10</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1800&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">10</td>
                    <td data-title="Название">можжевельник шлягер</td>
                    <td data-title="Размер">60-80</td>
                    <td data-title="Контейнер">с-10</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1800&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">11</td>
                    <td data-title="Название">сосна горная пумило</td>
                    <td data-title="Размер">40-50</td>
                    <td data-title="Контейнер">с-20</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">6000&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">12</td>
                    <td data-title="Название">туя аурея нана</td>
                    <td data-title="Размер">40-50</td>
                    <td data-title="Контейнер">с-10</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1700&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">13</td>
                    <td data-title="Название">туя аурея нана</td>
                    <td data-title="Размер">80-110</td>
                    <td data-title="Контейнер">с-35</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">4500&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">14</td>
                    <td data-title="Название">туя вайт смарагд</td>
                    <td data-title="Размер">40-50</td>
                    <td data-title="Контейнер">с-10</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1700&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">15</td>
                    <td data-title="Название">туя глабоза</td>
                    <td data-title="Размер">40-50</td>
                    <td data-title="Контейнер">с-7.5</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1200&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">16</td>
                    <td data-title="Название">туя голд даника</td>
                    <td data-title="Размер">30</td>
                    <td data-title="Контейнер">с-10</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1700&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">17</td>
                    <td data-title="Название">туя голд смарагд</td>
                    <td data-title="Размер">50</td>
                    <td data-title="Контейнер">с-10</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1700&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">18</td>
                    <td data-title="Название">туя даника</td>
                    <td data-title="Размер">20-25</td>
                    <td data-title="Контейнер">с-3</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">750&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">19</td>
                    <td data-title="Название">туя даника</td>
                    <td data-title="Размер">25-30</td>
                    <td data-title="Контейнер">с-7.5</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1000&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">20</td>
                    <td data-title="Название">туя смарагд</td>
                    <td data-title="Размер">30-40</td>
                    <td data-title="Контейнер">с-3</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">450&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">21</td>
                    <td data-title="Название">туя смарагд</td>
                    <td data-title="Размер">20-30</td>
                    <td data-title="Контейнер">с-2</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">350&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">22</td>
                    <td data-title="Название">туя смарагд</td>
                    <td data-title="Размер">80-110</td>
                    <td data-title="Контейнер">с-10</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1600&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">23</td>
                    <td data-title="Название">туя хозери</td>
                    <td data-title="Размер">20-25</td>
                    <td data-title="Контейнер">с-3</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">750&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>

                <tr>
                    <td data-title="№&nbsp;п\п ">24</td>
                    <td data-title="Название">туя хозери</td>
                    <td data-title="Размер">25-30</td>
                    <td data-title="Контейнер">с-7.5</td>
                    <td data-title="Из&nbsp;грунта"></td>
                    <td data-title="Цена">1000&nbsp;₽</td>
                    <td data-title="Фото"><i class="icon-no-photo"></i></td>
                </tr>
                </tbody>
            </table>
            <table>
                <thead>
                <tr>
                    <th colspan="7">Кустарники</th>
                </tr>
                <tr>
                    <th>№&nbsp;п\п</th>
                    <th>Название</th>
                    <th>Размер</th>
                    <th>Контейнер</th>
                    <th>Из&nbsp;грунта</th>
                    <th>Цена</th>
                    <th>Фото</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table>
                <thead>
                <tr>
                    <th colspan="7">Деревья</th>
                </tr>
                <tr>
                    <th>№&nbsp;п\п</th>
                    <th>Название</th>
                    <th>Размер</th>
                    <th>Контейнер</th>
                    <th>Из&nbsp;грунта</th>
                    <th>Цена</th>
                    <th>Фото</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table>
                <thead>
                <tr>
                    <th colspan="7">Лианы</th>
                </tr>
                <tr>
                    <th>№&nbsp;п\п</th>
                    <th>Название</th>
                    <th>Размер</th>
                    <th>Контейнер</th>
                    <th>Из&nbsp;грунта</th>
                    <th>Цена</th>
                    <th>Фото</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <table>
                <thead>
                <tr>
                    <th colspan="7">Многолетники</th>
                </tr>
                <tr>
                    <th>№&nbsp;п\п</th>
                    <th>Название</th>
                    <th>Размер</th>
                    <th>Контейнер</th>
                    <th>Из&nbsp;грунта</th>
                    <th>Цена</th>
                    <th>Фото</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="btn-catalog">
            <a href="/content/price2" class="btn btn-green btnprice">Перейти к прайс-листу растения из грунта (поле)</a>
        </div>
        <div class="btn-catalog">
            <a href="/content/price3" class="btn btn-green btnprice">Перейти к прайс-листу растения в контейнерах P-9 — C-2</a>
        </div>
    </article>
</div>
{% endblock %}
